
MAILGUN_DOMAIN=example.com
# No repository access, user permissions, or repository permissions set
GITHUB_TOKEN=github_pat_TH1S1S4F4K3T0K3NXXXXXX_N0TR34LJU5T4D3M0V151BL3M3554G3F0R3X4MPL30NLYXXXXXXXXXXXXXXX
MAILGUN_API_KEY=7HISIS4CL34RLYF4K3M4ILGUN4PIK3YX-D3M00NLY-F4K3K3YX
# Necessary in development since tRPC does no know the base URL on the server
VITE_BASE_URL=http://localhost:3000
