@import "tailwindcss" source("../../..");
@import "tw-animate-css";

@utility container {
  margin-inline: auto;
  padding-inline: --spacing(8); /* 2rem = 32px */
}

@theme inline {
  --color-gray-50: var(--color-slate-50);
  --color-gray-100: var(--color-slate-100);
  --color-gray-200: var(--color-slate-200);
  --color-gray-300: var(--color-slate-300);
  --color-gray-400: var(--color-slate-400);
  --color-gray-500: var(--color-slate-500);
  --color-gray-600: var(--color-slate-600);
  --color-gray-700: var(--color-slate-700);
  --color-gray-800: var(--color-slate-800);
  --color-gray-900: var(--color-slate-900);
  --color-gray-950: var(--color-slate-950);
}

@theme {
  --font-sans: "Lexend", sans-serif;
  --color-primary-50: oklch(97.048% 0.01027 247.93);
  --color-primary-100: oklch(93.192% 0.02353 250.08);
  --color-primary-200: oklch(88.234% 0.04302 249.39);
  --color-primary-300: oklch(84.019% 0.07156 246.18);
  --color-primary-400: oklch(71.374% 0.10848 250.29);
  --color-primary-500: oklch(62.308% 0.14073 256.32);
  --color-primary-600: oklch(54.615% 0.16326 261.07);
  --color-primary-700: oklch(40.799% 0.16047 263.62);
  --color-primary-800: oklch(34.88% 0.13695 265.08);
  --color-primary-900: oklch(25.996% 0.10298 264.11);
  --color-primary-950: oklch(20.033% 0.06451 266.7);

  --text-xxs: 0.625rem;
  --text-xxs--line-height: calc(0.75 / 0.625);
}

/* https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --color-primary-foreground: light-dark(
    var(--color-primary-700),
    var(--color-primary-300)
  );
  --color-primary-muted: light-dark(
    var(--color-primary-200),
    var(--color-primary-800)
  );
  --color-primary-subtle: light-dark(
    var(--color-primary-100),
    var(--color-primary-900)
  );
  --color-primary-border: light-dark(
    var(--color-primary-500),
    var(--color-primary-400)
  );
  --color-primary-emphasized: light-dark(
    var(--color-primary-300),
    var(--color-primary-700)
  );
  --color-primary-solid: var(--color-primary-600);
  --color-primary-solid-foreground: var(--color-primary-50);

  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-muted: light-dark(var(--color-gray-200), var(--color-gray-800));
  --color-muted-foreground: light-dark(
    var(--color-gray-600),
    var(--color-gray-400)
  );
  --color-subtle: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-subtle-foreground: light-dark(
    var(--color-gray-400),
    var(--color-gray-600)
  );
  --color-border: light-dark(var(--color-gray-300), var(--color-gray-700));
  --color-solid: var(--color-gray-600);

  --color-surface: light-dark(var(--color-gray-50), var(--color-gray-900));

  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-red-50);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  html {
    @apply antialiased [interpolate-size:allow-keywords] [text-size-adjust:none];
  }

  :root {
    @apply scroll-pt-(--navbar-height);
    --navbar-height: --spacing(20);
  }

  body {
    @apply flex min-h-svh flex-col bg-background text-foreground;

    & > :is(main, aside) {
      @apply flex-[1_0_auto];
    }

    & > :is(header, footer, nav) {
      @apply flex-none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      @apply scroll-smooth;
    }
  }
}

/* https://tailwindcss.com/docs/dark-mode#using-a-data-attribute */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
