@import "tailwindcss" source("../../..");
@import "tw-animate-css";

@utility container {
  margin-inline: auto;
  padding-inline: --spacing(8); /* 2rem = 32px */
}

@theme inline {
  --color-gray-50: var(--color-slate-50);
  --color-gray-100: var(--color-slate-100);
  --color-gray-200: var(--color-slate-200);
  --color-gray-300: var(--color-slate-300);
  --color-gray-400: var(--color-slate-400);
  --color-gray-500: var(--color-slate-500);
  --color-gray-600: var(--color-slate-600);
  --color-gray-700: var(--color-slate-700);
  --color-gray-800: var(--color-slate-800);
  --color-gray-900: var(--color-slate-900);
  --color-gray-950: var(--color-slate-950);
}

@theme {
  --font-sans: "Lexend", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --color-primary-50: oklch(97% 0.014 253);
  --color-primary-100: oklch(93.183% 0.0185 253.98);
  --color-primary-200: oklch(88.167% 0.032 252.53);
  --color-primary-300: oklch(80.85% 0.0645 250.21);
  --color-primary-400: oklch(70.633% 0.111 253.02);
  --color-primary-500: oklch(62.217% 0.1465 258.21);
  --color-primary-600: oklch(54.5% 0.164 261.28);
  --color-primary-700: oklch(48.725% 0.18225 262.77);
  --color-primary-800: oklch(42.35% 0.1585 264.04);
  --color-primary-900: oklch(37.875% 0.12575 263.92);
  --color-primary-950: oklch(28.2% 0.091 266.33);

  --text-xxs: 0.625rem;
  --text-xxs--line-height: calc(0.75 / 0.625);
}

/* https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-muted: light-dark(var(--color-gray-200), var(--color-gray-800));
  --color-muted-foreground: light-dark(
    var(--color-gray-600),
    var(--color-gray-400)
  );
  --color-subtle: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-subtle-foreground: light-dark(
    var(--color-gray-400),
    var(--color-gray-600)
  );
  --color-border: light-dark(var(--color-gray-300), var(--color-gray-700));
  --color-solid: var(--color-gray-600);

  --color-surface: light-dark(var(--color-gray-50), var(--color-gray-900));

  --color-destructive: light-dark(var(--color-red-700), var(--color-red-400));
}

@layer base {
  html {
    @apply antialiased [interpolate-size:allow-keywords] [text-size-adjust:none];
  }

  :root {
    @apply scroll-pt-(--navbar-height);
    --navbar-height: --spacing(20);
  }

  body {
    /* https://base-ui.com/react/overview/quick-start#ios-26-safari */
    @apply relative flex min-h-svh flex-col bg-background text-foreground;

    & > :is(main, aside) {
      @apply flex-[1_0_auto];
    }

    & > :is(header, footer, nav) {
      @apply flex-none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      @apply scroll-smooth;
    }
  }
}

/* https://tailwindcss.com/docs/dark-mode#using-a-data-attribute */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
