@import "tailwindcss" source("../..");
@import "tw-animate-css";

@source "components/";

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 8) /* 2rem = 32px */;
}

@theme {
  --font-sans: var(--font-lexend);
  --color-primary-50: oklch(97.048% 0.01027 247.93);
  --color-primary-100: oklch(93.192% 0.02353 250.08);
  --color-primary-200: oklch(88.234% 0.04302 249.39);
  --color-primary-300: oklch(84.019% 0.07156 246.18);
  --color-primary-400: oklch(71.374% 0.10848 250.29);
  --color-primary-500: oklch(62.308% 0.14073 256.32);
  --color-primary-600: oklch(54.615% 0.16326 261.07);
  --color-primary-700: oklch(40.799% 0.16047 263.62);
  --color-primary-800: oklch(34.88% 0.13695 265.08);
  --color-primary-900: oklch(25.996% 0.10298 264.11);
  --color-primary-950: oklch(20.033% 0.06451 266.7);

  /**
   * Replace default gray with Slate
   * @see {@link https://tailwindcss.com/docs/theme#default-theme-variable-reference}
   */
  --color-gray-50: oklch(98.4% 0.003 247.858);
  --color-gray-100: oklch(96.8% 0.007 247.896);
  --color-gray-200: oklch(92.9% 0.013 255.508);
  --color-gray-300: oklch(86.9% 0.022 252.894);
  --color-gray-400: oklch(70.4% 0.04 256.788);
  --color-gray-500: oklch(55.4% 0.046 257.417);
  --color-gray-600: oklch(44.6% 0.043 257.281);
  --color-gray-700: oklch(37.2% 0.044 257.287);
  --color-gray-800: oklch(27.9% 0.041 260.031);
  --color-gray-900: oklch(20.8% 0.042 265.755);
  --color-gray-950: oklch(12.9% 0.042 264.695);
}

/* https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --color-primary-foreground: light-dark(
    var(--color-primary-700),
    var(--color-primary-300)
  );
  --color-primary-solid-foreground: var(--color-white);
  --color-primary-muted: light-dark(
    var(--color-primary-200),
    var(--color-primary-800)
  );
  --color-primary-subtle: light-dark(
    var(--color-primary-100),
    var(--color-primary-900)
  );
  --color-primary-border: light-dark(
    var(--color-primary-500),
    var(--color-primary-400)
  );
  --color-primary-emphasized: light-dark(
    var(--color-primary-300),
    var(--color-primary-700)
  );
  --color-primary-solid: light-dark(
    var(--color-primary-600),
    var(--color-primary-600)
  );
  --color-input: light-dark(var(--color-white), var(--color-gray-900));
  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-muted: light-dark(var(--color-gray-200), var(--color-gray-800));
  --color-subtle: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-border: light-dark(var(--color-gray-300), var(--color-gray-700));
  --color-solid: var(--color-gray-600);

  --color-surface: light-dark(var(--color-gray-50), var(--color-gray-900));
  --color-surface-darker: light-dark(
    var(--color-gray-100),
    var(--color-gray-950)
  );
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  html {
    @apply antialiased [interpolate-size:allow-keywords] [text-size-adjust:none];
  }

  body {
    @apply flex min-h-svh flex-col bg-background text-foreground;

    & > :is(main, aside) {
      @apply flex-[1_0_auto];
    }

    & > :is(header, footer, nav) {
      @apply flex-none;
    }
  }

  :where(h1, h2, h3, h4, h5, h6, dt, blockquote, figcaption) {
    @apply max-w-[25ch] text-balance;
  }

  :where(p, dd, li, figcaption) {
    @apply max-w-prose text-pretty;
  }

  textarea:not([rows]) {
    @apply min-h-[10em];
  }

  :where(td, math, time[datetime*=":"]) {
    @apply lining-nums tabular-nums;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      @apply scroll-pt-12 scroll-smooth;
    }
  }
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
