@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 8) /* 2rem = 32px */;
}

@theme {
  --font-sans: var(--font-lexend);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
