name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - name: Set up Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Get pnpm package store path
        id: pnpm-store-path
        run: echo STORE_PATH=$(pnpm store path) >> $GITHUB_OUTPUT

      - name: Cache Next.js builds
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.pnpm-store-path.outputs.STORE_PATH }}
            ${{ github.workspace }}/apps/*/.next/cache
          # By default, Next.js accepts files with extensions: .js, .jsx, .ts, .tsx
          # https://nextjs.org/docs/app/api-reference/next-config-js/pageExtensions
          key: nextjs-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('**/*.[jt]s', '**/*.[jt]sx') }}
          restore-keys: nextjs-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: pnpm install

      - name: Lint code with ESLint
        run: pnpm run lint

      - name: Check code formatting with Prettier
        run: pnpm run format:check

      - name: Build
        run: pnpm run build
